{% extends 'base.html' %}

{% block content %}
<center>
    <br><h2>About Us</h2><br>

    <p>Learn more about our story and our commitment to quality coffee.</p><br>

    <address>
        Written by <br>Priya</a>.<br><br>
        Visit us at:<br><br>
        Email Id: <a href="mailto:webmaster@example.com">priya1@gmail.com</a><br>
        Contact No: <a href="callme:98364789409">98364789409</a><br>
        Address: Block 564, Mangalore<br>
        India
    </address><br>
    
    <a href="https://github.com/Priyapoojary11/Personal-PORTFPOLIO" style="color: black" class="text-white mx-2"><i class="fab fa-github"></i></a>
    &nbsp;&nbsp;<a href="https://www.linkedin.com/in/priya-29a751194/" style="color: black" class="text-white mx-2"><i class="fab fa-linkedin"></i></a>
    &nbsp;&nbsp;<a href="https://twitter.com" style="color: black" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
    &nbsp;&nbsp;<a href="https://www.instagram.com/" style="color: black"><i class="fab fa-instagram"></i></a>
</center>
{% endblock %}