{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
    
    <center><h2>Welcome, {{ username }}!</h2></center>
    {% endif %}
    
    <div class="gallery">
        {% for coffee in coffees %}
            <div class="coffee-item">
                <a href="{% url 'view_coffee' coffee.id %}">
                <img src="{{ coffee.image}}" alt="{{ coffee.name }}" width="260" height="300">
                <h5 class="card-title">{{ coffee.name }}</h5><a>
            </div>  
        {% endfor %}
    </div>
{% endblock %}

