<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Order Cart</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
</head>
<body class="secondary-body" style="background-color: #6c63f">
            
    <main>
        <center><h1>Explore Our Coffee Selection</h1></center><br><br>
        <section>
            <div class="product-card" style="background-color: white"> 
                <img src="{{ coffee.image}}" alt="{{ coffee.name }}">
                <h5 class="card-title">{{ coffee.name }}</h5>
                <p>Price: ₹ {{coffee.price}}</p>
                <input type="checkbox" id="toggle-{{ forloop.counter }}" class="toggle">
                <p class="description">{{ coffee.description }}</p>
                <label for="toggle-{{ forloop.counter }}"></label><br>
                <button><a href="{% url 'add_to_cart' coffee.id %}"><i class="fas fa-shopping-cart"></i> Add to cart</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button><a href="{% url 'add_to_checkout' coffee.id %}"><i class="fas fa-credit-card"></i> Buy now</a></button> 
            </div>
        </section>
    </main>
        
<footer>
    <a style="color: white" href="{% url 'home' %}"><i class="fas fa-shopping-bag"></i> Continue Shopping</a><br><br>
    <p>&copy; 2024 Coffee Shop. All rights reserved.</p>
</footer>
</body>
</html>  

